@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Satoshi;
        src: url('./assets/fonts/Satoshi-Bold.ttf');
        font-weight: 700;
    }
    @font-face {
        font-family: Satoshi;
        src: url('./assets/fonts/Satoshi-Medium.ttf');
        font-weight: 500;
    }
    @font-face {
        font-family: Satoshi;
        src: url('./assets/fonts/Satoshi-Regular.ttf');
        font-weight: 400;
    }
    @font-face {
        font-family: PlayfairDisplay;
        src: url('./assets/fonts/PlayfairDisplay-MediumItalic.ttf');
        font-weight: 500;
    }
}

@layer components {
    .wrapper {
        @apply px-[80px];
    }
    .title {
        @apply text-[96px] font-medium text-dark leading-[96px];
    }
    .subtitle {
        @apply text-[64px] font-medium text-dark leading-[80px];
    }
    .context {
        @apply text-[#969595] mb-[20px] uppercase tracking-[3px] inline-block;
    }
    .btn {
        @apply bg-transparent py-[16px] px-[28px] text-dark text-[12px] border-[#CCCCCC] border-[1px] tracking-[3px] duration-100 hover:bg-dark hover:text-white;
    }
}